/* ตั้งค่าหน้าหลักให้กึ่งกลาง */
.create-subject-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* กล่องฟอร์ม */
.create-subject-container {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  padding: 20px 80px; /* เพิ่ม padding แนวนอน */
  max-width: 800px; /* จำกัดขนาด */
  width: 100%;
  margin-top: 30px;
}

/* ส่วนหัว */
.create-subject-header {
  text-align: center;
  margin-bottom: 20px;
}

.create-subject-header .text {
  color: #02bc77;
  font-size: clamp(20px, 2.5vw, 25px);
  font-weight: 700;
}

.create-subject .underline {
  height: 0.1em;
  width: 100%;
  background-color: #02bc77;
  border-radius: 9px;
}

/* ฟอร์มข้อมูล */
.create-subject-inputs-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 คอลัมน์ */
  gap: 15px;
  margin: 20px 0;
}

.create-subject-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.create-subject-input label {
  font-size: 14px;
  font-weight: 600;
}

.create-subject-input input {
  height: 35px;
  background: #e8f0fe;
  border: none;
  outline: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.create-subject-input input:hover {
  border: 1px solid #02bc77;
}

/* ส่วนเลือกหมวดหมู่ */
.create-subject-inputs-2 {
  margin: 20px 0;
}

.create-subject-inputs-2 .radio-item {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 10px;
}

.radio-item input[type="radio"] {
  width: 16px;
  height: 16px;
}

mark {
  font-size: 15px;
}

#health {
  background-color: rgba(72, 139, 240, 0.445);
  border-radius: 8px;
  padding: 4px;
}

#entrepreneur {
  background-color: rgba(72, 170, 240, 0.445);
  border-radius: 8px;
  padding: 4px;
}

#aesthetics {
  background-color: rgba(72, 240, 201, 0.445);
  border-radius: 8px;
  padding: 4px;
}

#language {
  background-color: rgba(72, 240, 89, 0.445);
  border-radius: 8px;
  padding: 4px;
}

#citizen {
  background-color: rgba(204, 240, 72, 0.445);
  border-radius: 8px;
  padding: 4px;
}

/* ปุ่มส่ง */
.create-subject-submit {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.create-subject-submit .btn-submit {
  background-color: #02bc77;
  border-radius: 20px;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  width: 150px;
  text-align: center;
}

.create-subject-submit .btn-submit:disabled {
  background-color: gray;
  cursor: not-allowed;
}

/* แจ้งข้อผิดพลาด */
.create-subject-error {
  font-size: 13px;
  color: red;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .create-subject-inputs-1 {
    grid-template-columns: repeat(1, 1fr); /* แสดงเป็น 1 คอลัมน์ */
  }

  .create-subject-container {
    width: 100%;
    padding: 20px;
  }
}
