.header{
    box-shadow: 0px 2px 5px rgba(59, 59, 59, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.header a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

.navbar {
    display: flex;
    gap: 60px; /* ระยะห่างระหว่างลิงก์ */
    margin-right: 200px;
  }

  .navbar-button {
    display: flex;
    align-items: center; 
    gap: 60px; /* ระยะห่างระหว่างลิงก์ */
  }

  .navbar-button i{
    color: #f6e440;
  }

  .register-button{
    border: 2px solid gray;
    border-radius: 20px;
    padding: 20px;
  }

  .login-button{
    background-color: #02BC77;
    border-radius: 20px;
    padding: 20px;
    color: #ffffff !important;
  }

  .logo-image{
    width: 80px;
    height: 80px;
  }

  .navbar a:hover {
    color: #02BC77;  /* เปลี่ยนสีของข้อความเมื่อ hover */
  }

  .register-button:hover {
    transform: scale(1.1);
    border-radius: 20px;
    padding: 20px;
    /* color: #ffffff !important; */
  }

  .login-button:hover {
    background-color: #02BC77;
    border-radius: 20px;
    padding: 20px;
    color: #ffffff !important;
    transform: scale(1.1);
  }
  