.register-page {
    background-image: url("src/assets/images/1.png");
    background-size: cover; /* ให้รูปภาพครอบคลุมพื้นที่ */
    background-position: center; /* จัดตำแหน่งรูปภาพให้อยู่ตรงกลาง */
    height: 83vh; /* ให้ความสูงเต็มหน้าจอ */
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  
  .register-container{
    background-color: rgba(255, 255, 255, 0.88);
    width: 500px;
    height: 500px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .register-email-control {
    padding-right: 70px;
 }

 .register-username-control {
    padding-right: 70px;
 }

 .register-password-control {
    padding-right: 50px;
 }

 .register-confirm-password-control {
    padding-right: 50px;
 }

.register-email-control label{
    display: block; /* ทำให้ label อยู่คนละบรรทัด */
  margin-bottom: 8px; /* เพิ่มระยะห่างระหว่าง label กับ input */
  font-weight: bold;
  font-size: 18px;
}

.register-email-control input{
    width: 270px;
    height: 25px;
    border: none;
    border-radius: 5px;
    background-color: rgba(142, 138, 138, 0.226);
}

.register-username-control label{
    display: block; /* ทำให้ label อยู่คนละบรรทัด */
  margin-bottom: 8px; /* เพิ่มระยะห่างระหว่าง label กับ input */
  font-weight: bold;
  font-size: 18px;
}

.register-username-control input{
    width: 270px;;
    height: 25px;
    border: none;
    border-radius: 5px;
    background-color: rgba(142, 138, 138, 0.226);
}

.register-password-control label{
    display: block; /* ทำให้ label อยู่คนละบรรทัด */
  margin-bottom: 8px; /* เพิ่มระยะห่างระหว่าง label กับ input */
  font-weight: bold;
  font-size: 18px;
}

.register-password-control input{
    margin-right: 10px;
    width: 270px;;
    height: 25px;
    border: none;
    border-radius: 5px;
    background-color: rgba(142, 138, 138, 0.26);
}

.register-confirm-password-control label{
    display: block; /* ทำให้ label อยู่คนละบรรทัด */
  margin-bottom: 8px; /* เพิ่มระยะห่างระหว่าง label กับ input */
  font-weight: bold;
  font-size: 18px;
}

.register-confirm-password-control input{
    margin-right: 10px;
    width: 270px;;
    height: 25px;
    border: none;
    border-radius: 5px;
    background-color: rgba(142, 138, 138, 0.26);
}

.register-submit-button button{
    border: none;
    width: 120px;
    height: 40px;
    background-color: #02BC77;
    border-radius: 10px;
    color: rgb(255, 255, 255);
}

.icon-hide{
    display: inline;
}

