.login-page {
  background-image: url("src/assets/images/1.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 81px;
}

.login-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  max-width: 95%;
  width: 500px;
  /* margin: auto; */
  /* margin-top: 100px; */
  /* padding-bottom: 40px; */
  /* width: 500px; */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  border-top: 0.1px solid rgba(0, 0, 0, 0.1);
  max-height: 100vh;
  overflow-y: auto;
}

.login-header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* flex-direction: column; */
  align-items: center;
  width: 100%;
  margin-top: 30px;
  gap: 9px;
  color: #02bc77;
  text-decoration: underline;
  text-underline-offset: 8px;
}

.login-header i {
  position: absolute;
  left: 5px;
  font-size: 27px;
  cursor: pointer;
  color: #6f6f6f;
  cursor: pointer;
}

.login-inputs {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-radius: 20px;
  margin-right: 80px;
  margin-left: 80px;
}

.login-input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 350px;
  height: 40px;
  background-color: #e8f0fe;
  border-radius: 5px;
  width: 100%;
  padding: 5px 10px;
  min-width: 100px;
}

.login-input:hover {
  border: 0.2px solid #02bc77;
}

.login-input i {
  font-size: 23px;
  margin-right: 15px;
}

.login-input input {
  height: 30px;
  width: 400px;
  background: transparent;
  border: none;
  outline: none;
  color: #797979;
  font-size: 15px;
  margin-right: 15px;
  width: 100%;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #02bc77;
  border-radius: 20px;
  padding: 8px 20px;
  color: #ffffff !important;
  cursor: pointer;
  width: 100%;
}

.submit-container {
  margin-top: 50px;
  justify-content: center;
  display: flex;
  margin-bottom: 50px;
  margin-right: 80px;
  margin-left: 80px;
}

.Button-login {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #02bc77;
  cursor: pointer;
  margin: 10px 77px;
  flex-wrap: wrap;
}
.Button-login a {
  color: #02bc77;
}

@media screen and (max-width: 500px) {
  /* .login-container {
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    border-radius: 0px;
    margin-top: 0px;
  }
  .login-page {
    background-color: rgb(255, 255, 255);
  } */
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.email-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  color: gray;
}
