/* body {
  padding-top: 71px;
}
body.no-padding {
  padding-top:  71 !important;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input[type="password"]::-ms-reveal,  /* สำหรับ Edge */
input[type="password"]::-ms-clear,   /* สำหรับ Edge */
input[type="password"]::-webkit-credentials-auto-fill-button {
  /* สำหรับ Chrome */
  display: none;
}

.error-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.text-error {
  margin-top: 5px;
  /* margin-left: 77px; */
  font-size: 13px;
  color: red;
}

.popup-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(1px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

button {
  border: none;
  outline: none;
}

.bxs-dislike {
  color: #ff0000;
}

.bxs-like {
  color: #543dfc;
}

.dateTime {
  position: relative;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.dateTime i{
  font-size: 15px;

}

/* ลบส่วนนี้หากไม่ต้องการแสดง Tooltip ด้วย CSS */
/* .dateTime:hover::after {
  content: attr(title);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 10;
} */
